.container {
  position: relative;
  max-width: unset !important;

  &__slider {
    width: 100%;
    overflow-x: scroll;
    overflow-y: visible;
    white-space: nowrap;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $background;

    &__movie {
      width: 130px;
      height: 190px;
      display: inline-block;
      position: relative;
      color: white;
      padding: 0 10px;
      font-size: 0.8rem;
      transition: all 0.8s ease-in-out;

      @include respond-to("md") {
        width: 200px;
        height: 270px;

        &:hover {
          transform: scale(1.1);
          cursor: pointer;
        }
      }
    }
    &__movie img {
      height: 100%;
      width: 100%;
      border-radius: 10px;
    }
    .btn-nav {
      display: none;
      @include respond-to("md") {
        display: unset;
        width: 50px;
        height: 270px;
        position: sticky;
        bottom: 0;
        background-color: $modal-background;
        opacity: 0.6;
        outline: none;
        border: none;
        color: white;
        top: 20px;
        z-index: 5;
        visibility: hidden;
      }
    }

    #moveLeft {
      display: none;
      @include respond-to("md") {
        display: unset;
        left: 0;
      }
    }

    #moveRight {
      display: none;
      @include respond-to("md") {
        display: unset;
        right: 0;
      }
    }

    &:hover {
      .btn-nav {
        visibility: visible;
      }
    }
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
