.container {
  position: relative;
  max-width: unset !important;

  &__slider {
    width: 100%;
    overflow-x: scroll;
    overflow-y: visible;
    white-space: nowrap;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $primary;
    border-radius: 10px;

    &__movie {
      width: 125px;
      height: 200px;
      display: inline-block;
      position: relative;
      color: white;
      padding: 0 5px;
      font-size: 0.8rem;
      transition: all 0.8s ease-in-out;

      @include respond-to("md") {
        width: 200px;
        height: 300px;
      }
    }
    &__movie img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 10px;
    }
  }
}
