.modal {
  svg {
    color: $text-secondary;
  }
  h3 {
    color: $text-secondary;
  }
  &__close {
    width: 27px;
    height: 27px;
    margin: auto;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 0 0 3px 0 !important;
    border-radius: 50% !important;
    @include respond-to("md") {
      right: -20px;
      top: -40px;
    }
    }
  &-content {
    top: 50px;
    background-color: $modal-background !important;
    color: $text-primary;
    border-radius: 1rem !important;
    @include respond-to("md") {
      top: 100px;
    }
  }

  .flexcard {
    &__header {
      &__image {
        width: 130px;
        height: 190px;
        border-radius: 10px;
        @include respond-to("md") {
          width: 180px;
          height: 270px;
        }
      }
    }
  }
}
