$primary: #EB5440;
$secondary: #4A4B4C;
$tertiary: #C3C3C3;
$tertiary-light: #E8E8E8;

$background: #F6F6F6;
$white: #FFFFFF;

//Text colors

$text-primary: #000000;
$text-secondary: #4A4B4C;
$text-link: #067BC2;