@import "_mixins.scss";
html {
  background-color: $background;
}
body {
  background-color: unset !important;
  #app {
    font-family: Montserrat, OpenSans;
    color: $text-primary;
    background-color: $background;
    h1 {
      margin: 0;
    }

    li {
      list-style-type: none;
    }

    p {
      margin: 0;
    }
  }
}
