@import "_mixins.scss";
html,
body {
  background-color: $background;
  h1,
  h3 {
    margin: 0 !important;
  }
  p {
    margin: 0;
  }
  .svg-inline--fa {
    height: 20px;
  }
}
#app {
  font-family: Montserrat, OpenSans;
  color: $text-primary;
  background-color: $background;
}
