.search-container {
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    cursor: pointer;
    height: 20px;
    width: 20px;
    content: url("../../static/icons/clear.png");
    color: white;
  }

  input {
    width: 100%;
    border-radius: 5px;
    background-color: $primary;
    color: $text-primary;
    padding: 5px 10px;
    margin: 0 15px;

    &::-webkit-search-cancel-button {
      color: white;
    }

    &::placeholder {
      color: $text-primary;
    }

    &:focus {
      outline: none;
    }

    @include respond-to("md") {
      width: 50%;
      margin: 0 auto;
    }
  }
  .dropdown {
    position: absolute;
    right: 200px;

    &:hover {
      svg {
        color: $text-secondary;
      }
    }
    &-toggle {
      width: 40px;
      height: 40px;
      background-color: unset;
      border: unset;
      box-shadow: unset;

      &:hover,
      &:active,
      &:focus,
      &:focus-visible {
        background-color: unset !important;
        border: unset;
        box-shadow: unset;
      }
    }
    &-menu {
      background-color: $primary;
      border-radius: 10px;
      padding: 0.5rem 0;
      margin: 0;
      li {
        padding: 0 0.5rem !important;
      }
      a {
        padding: 0 0.5rem;
        &:hover, &:active, &:target {
          background-color: $dropdown-menu;
          cursor: pointer;
          border-radius: 5px;
        }
      }
      span {
        color: white;
      }
    }
  }
  .dropdown.show > button {
    background: unset;
    border: unset;
    svg {
      color: $text-secondary;
    }
  }
}
